$font-path: "../fonts"; 

@font-face {
	font-family: "PPNeueMontreal";
	src: 
        url("#{$font-path}/PPNeueMontreal-Regular.woff2") format("woff2"),
		url("#{$font-path}/PPNeueMontreal-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap; // optional: improves rendering performance
}

$font-primary: "PPNeueMontreal", sans-serif;